RewriteEngine On    # Turn on the rewriting engine

# FOR HOME PAGE
RewriteRule    ^home?$    index.php     [QSA,NC,L]

# FOR ABOUT PAGE
RewriteRule    ^about-us?$    aboutus.php     [QSA,NC,L]

# FOR ENQUIRY PAGE
RewriteRule    ^contact-us?$    contactus.php     [QSA,NC,L]

# FOR 4040 PAGE
RewriteRule    ^404?$    error-404.html     [QSA,NC,L]


#Error Documents Code

ErrorDocument 400     http://localhost/demo/error-document.html
ErrorDocument 401     http://localhost/demo/error-document.html
ErrorDocument 403     http://localhost/demo/error-document.html
ErrorDocument 404     http://localhost/demo/error-404.html
ErrorDocument 500     http://localhost/demo/error-document.html